
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  .mySkillbtn{
	  position:absolute;
	  top:41%;
	  right:41%;
  }
  .myList{
	  position:absolute;
	  top:10%;
	  left:5%;
  }
  .myList{
	  position:absolute;
	  top:10%;
	  margin:0px auto;
  }
  


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.no-pad-bot{
	height:600px;
}
.opa{
	list-style-type:armenian;
}
.opa li{
	opacity:0;
}
.try:hover{
	opacity: .75 !important;
	stroke-width: 50 !important;
	
} 
.bgbase{
	background-color:rgba(31,34,33,0.61);	
}
.skillGroup{
	opacity:0;
	position:absolute;
	left:32%;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade{
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}



/*//////////////////////////////////////////*/

.proj-container .pws_tabs_container{
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 25px;
    box-shadow: 5px 5px 10px black;
}
.proj-container .no-pad-bot{
  position: absolute;
  top: 15%;
}
.proj-container .panel{
  background-color: rgba(122, 122, 122, 0.5);
      line-height: normal;
}

@media only screen and (max-width : 600px) {
.proj-container .no-pad-bot{
  top: 5%;
  }
  .proj-container .pws_tabs_container{
    width: 100% !important;
  }
 .proj-container .pws_tabs_controll a{
   font-size: 12px;
 }
}