
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  .myList{
	  position:absolute;
	  top:10%;
	  left:5%;
  }
  .myList{
	  position:absolute;
	  top:10%;
	  margin:0px auto;
  }
  .gcon{
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.42rem 0 0;
  }
  #MyWork h4,
  #ContactMe h4{
    margin-top: 0;
  }

nav ul a.active {
  background: rgba(0,0,0,0.2);
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    /*position: absolute;
    top: 40%;*/
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.no-pad-bot{
	height:600px;
}
.opa{
	list-style-type:armenian;
}
.opa li{
	opacity:0;
}
.try:hover{
	opacity: .75 !important;
	stroke-width: 50 !important;
	
} 
.bgbase{
	background-color:rgba(31,34,33,0.61);	
}
.skillGroup{
	opacity:0;
	position:absolute;
	left:25%;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade{
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}



/*//////////////////////////////////////////*/

.proj-container .pws_tabs_container{
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 25px;
    box-shadow: 5px 5px 10px black;
}
.proj-container .no-pad-bot{
  position: absolute;
  top: 15%;
}
.proj-container .panel{
  background-color: rgba(122, 122, 122, 0.5);
      line-height: normal;
}

@media only screen and (max-width : 600px) {
.proj-container .no-pad-bot{
  top: 5%;
  }
  .proj-container .pws_tabs_container{
    width: 100% !important;
  }
 .proj-container .pws_tabs_controll a{
   font-size: 12px;
 }
}


/*/////////////////////////////////////////////////*/

.tbox{position:absolute;display:none;padding:14px 17px;z-index:200000;max-width:100%}.tinner{padding:15px;-moz-border-radius:5px;border-radius:5px;background:#fff url(../img/preload.gif) no-repeat 50% 50%;border-right:1px solid #333;border-bottom:1px solid #333}.tmask{position:absolute;display:none;top:0;left:0;height:100%;width:100%;background:#000;z-index:100000}.tclose{position:absolute;top:0;right:0;width:30px;height:30px;cursor:pointer;background:url(../img/close.png) no-repeat}.tclose:hover{background-position:0 -30px}#error{background:#ff6969;color:#fff;text-shadow:1px 1px #cf5454;border-right:1px solid #000;border-bottom:1px solid #000;padding:0}#error .tcontent{padding:10px 14px 11px;border:1px solid #ffb8b8;-moz-border-radius:5px;border-radius:5px}#success{background:#2ea125;color:#fff;text-shadow:1px 1px #1b6116;border-right:1px solid #000;border-bottom:1px solid #000;padding:10;-moz-border-radius:0;border-radius:0}#bluemask{background:#666;max-width:100%}#bluemask-captainform{background-color:#f1f1f1;max-width:100%}#frameless{padding:0;border:10px solid #fff;box-sizing:content-box;max-width:100%}#frameless .tclose{right:0}

a.form-btn{
  display:scroll;
  z-index:10;
  position:fixed;
  bottom:210px;
  right:0px;
}


/****************************************/

.maintenance-container{
  position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100000;
    top: 0;
    background-color: #f1f1f1;
}
.maintenance{
  position: relative;
    top: 20%;
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    background: #999;
    color: #fff;
    border: 1px solid #666;
}
.maintenance h3{
  font-size: 2rem;
}